<div>
  <div>
    <%= image_tag "/#{@menu.image}" %>
  </div>
  <div>
    <%= @menu.name%>
  </div>
  <div>
    <%= @menu.best_age %>
  </div>
  <div>
    <%= @menu.quantity %>
  </div>
  <div>
    <%= @menu.recipe %>
  </div>
</div>