<nav class="header navbar navbar-expand-sm navbar-dark bg-dark sticky-top h5">
  <%= link_to  "Foodo", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id ="navbarNav4">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item mr-2">
          <%= link_to "ホーム", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item mx-2">
          <%= link_to "献立作成", new_menu_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown ml-2 mr-5">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ユーザー
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "マイページ", session_path(current_user), class: "dropdown-item" %>
            <%= link_to "プロフィール変更", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Foodoについて", root_path(anchor: "about"), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>    
